html {
    position: relative;
    min-height: 100%;
}
body {
    background: url('../img/Background.png');
    background-attachment: fixed;
    background-size: 100%;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 60px;
    padding-top: 70px;
    margin-top: 30px;
}
.wrapper-body {    
    background-color: #E9ECEF;
}
nav {
    border-bottom: 1px solid #e8e5e7;
}
#navContainer {
    width: 100%;
}
li {
    margin-left: 10px;
}
.center {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F8F8F8;
    border-top: 1px solid #e8e5e7;
	overflow: hidden;
}
#contact-form {
    text-align: left;
}
.form-line {
    border-right: 1px solid #aaa;
}
#submit {
    
}
.jumbotron {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.card-img-top{
    width: 200px;
    height: 200px;
}
.head-title{
    font-size: 50px;
}
.sub-title{
    font-size: 25px;
}
@media only screen and (max-width: 736px) {
    .jumbotron {
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
    body {
        margin-top: 0px;
        background: none;
        background-color: #e9ecef;
    }
    .navbar, .fixed-top, .navbar-expand-lg, .navbar-light, .bg-light {

        margin: 0;
    }
    .form-line {
        border: none;
    }
    
}
#logo {
    height: auto;
    width: 60px;
}

/* Typography
=================================== */
.Logo {
    font-size: 32px;
}
body {
    font-family: 'Nexa Bold', sans-serif;
    font-size: 16px;
}
body,
textArea,
input,
button,
select {
    line-height: 1.6;
}

a {
    -webkit-transition: all .2 ease-in-out;
    transition: all .2 ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
@font-face {
    font-family: "Nexa Bold";
    src: url('../fonts/Nexa Bold.otf');
}